<div class='p-top'>
  <table border="1" class= 'p-top__introduce'>
    <tr>
    <th>名前</th>
    <th>年齢</th>
    <th>血液型</th>
    <th>婚姻関係？</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
      <td><%= user.name %></td>
      <td><%= "#{user.age}歳" %></td>
      <td><%= "#{user.blood_type}型" %></td>
      <td><%= user.is_married? ? '既婚' : '未婚' %></td>
      </tr>
    <% end %>
  </table>
</div>
