.p-top {
  min-width: 960px;

  &__title {
    text-align: center;
    font-size: 16px;
  }

  &__introduce {
  	margin: 0 auto;
  	th {
  		padding: 0 15px;
  	}
  	td {
  	  padding: 0 15px;
  	}
  }
}